*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: bisque;
}

header div{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: sans-serif;
    line-height: 35px;
}

#main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

h3 ,p{
    background-color: white;
}

#single-card{
    background-color: white;

}

img{
    width: 300px;
    background-color: white;
}